doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='description', content='Conan CSS Official Website')
        meta(name='keywords', content='Conan CSS, CSS')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Conan CSS Official Website
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700")
        //- link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,600,700" )
        link(rel="stylesheet" href="//use.fontawesome.com/releases/v5.1.0/css/all.css"  crossorigin="anonymous")
        link(rel="stylesheet" href="/css/style.css" type="text/css")